.box-4,.box-1,.box-2,.box-3{
    background-color: black;
    height: 150px;
    width: 200px;
    /* transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; */
    transition: background-color 1s ease-in,height 1s ease-in-out;
    margin-bottom: 1rem;
 
}

.box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover{
    background-color: rgb(0, 255, 149) ;
    transition:all 500ms ease-out;
    /* rotate: 360deg; */
    /* translate: 250px 300px; */
    scale: 1.1;
    
}
.box-2:hover{
    background-color: rgb(0, 255, 149) ;
    translate: 200px;
    transition:all 500ms ease-in;
}
.box-3:hover{
    background-color: rgb(0, 255, 149) ;
    translate: 200px;
    transition:all 500ms ease-in-out;
}
.box-4:hover{
    background-color: rgb(0, 255, 149) ;
    translate: 200px;
    transition:all 500ms ease;
}