*{
    /* font-family: Arial; */
}
p{
    color: darkgray;
 }

body{
    background-color: rgb(245, 245, 241);
}
.highlight{
    background-color: yellow;
}

.box p{
    background-color: aqua; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black
    ;
}

#main-div h1{
    font-size: larger;
    font-weight: bold;
    background-color: blueviolet;
}

.intro .highlight{
    color: blue;
}/*
.list-div li {
    color: rgb(138, 127, 255);
}

h1,h2,h3{
    color: aliceblue;
    text-align: center;
} */