*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --bg-color:white;
    --text-color:black;
}

/* this use to lknow the users default theme */
@media (prefers-color-scheme: light) {
    html{

        --bg-color: black;
        --text-color: white;   
    }
}

.parent.c{
    color: var(--text-color);
    background-color: var(--bg-color);
}