/*  */
/*
 h1{
    color: red;
}
 p{
    color :red;
 } */

 /* grouping */
 /* h1,h2,p{
    color: red;
 } */

 /* chaining  */
 /* h2.heading{
    color: red;
 } */

 .parent .p1{
    color: blue;
 }
 .parent .child{
    font-size: 21px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(226, 64, 83);

 }

 /* use when we want to add all paragraph style */
 /* .parent p{
    font-size: 28px;
 } */

 /* grand pafarent styling */
 .parent .grand .red {
    color: rgb(111, 0, 255);
    font-size: 50px;
    background-color: aquamarine;
    border: 4px double;
    border-color: brown;
    /* border-width: 4px;
    border-style: dotted;
    border-color: black; */
 }

